.home-wrapper .textblock .content-container {
  max-width: 80%;
  margin: auto;
}
.home-wrapper .parallax-window {
  min-height: 400px;
  background: transparent;
}

.bg-light {
  background-color: transparent !important;
}

@media only screen and (min-width: 990px) {
  header body {
    background-color: lightblue;
  }
}

/*# sourceMappingURL=style.css.map */
